.repo-info {
	width: 33.33vw;
	background-color: #F2F2F2;
}

.add-text {
font-size: 14px;
font-weight: 400;
line-height: 1.43;
letter-spacing: 0.17px;
text-align: center;
color: #4F4F4F;
}

.add-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 33.33vw;
	height: 100%;
}